{% extends 'core/base.html' %}

<!-- Title -->
{% block title %}Eliminar post{% endblock %}

<!-- Content -->
{% block content %}
<div class="container my-5">
  <h1 class="mb-4">¿Estás seguro que querés eliminar este post?</h1>

  <div class="alert alert-warning"> <strong>{{ object.title }}</strong> será eliminado permanentemente. </div>

  <form method="post">
    {% csrf_token %}
    <a href="{% url 'post_detail' object.id %}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
</div>
{% endblock %}
