{% extends 'core/base.html' %} {% block title %}Buscar{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">
  <h1 class="mb-4">Buscar Posts</h1>

  <form method="get" action="{% url 'result' %}">
    <div class="form-group">
      <label for="query">Título:</label>
      <input
        type="text"
        name="query"
        id="consulta"
        class="form-control"
        placeholder="Escribí un título..."
      />
    </div>

    <div class="form-group">
      <label for="author">Autor:</label>
      <select name="author" id="author" class="form-control">
        <option value="">-- Todos --</option>
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <select name="category" id="category" class="form-control">
        <option value="">-- Todas --</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="text-center mt-4 mb-5">
      <button type="submit" class="btn btn-success px-4 py-2">Buscar</button>
    </div>
  </form>
</div>
{% endblock %}
